{% extends "base.html" %}
{% block content %}
    <h1>Hi, {{ g.user.nickname }}</h1>
    {% include "flash.html" %}
    <div class="well well-lg">
        <form class="form-horizontal" action="" method="post" name="post">
            {{ form.hidden_tag() }}
            <div class="control-group {% if form.errors.post %} error{% endif %}">
                <label class="control-label" for="post">Say something:</label>
                <div class="controls">
                    {{ form.post(size=30, maxlength=140) }}
                    {% for error in form.errors.post %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Post">
                </div>
            </div>
        </form>
    </div>
    {% for post in posts.items %}
        {% include "post.html" %}
    {% endfor %}
    <ul class="pager">
        {% if posts.has_prev %}
            <li class="previous"><a href="{{ url_for('index', page=posts.prev_num) }}">Prev</a></li>
        {% else %}
            <li class="previous disabled" style="display: none">Prev</li>
        {% endif %}
        {% if posts.has_next %}
            <li class="next"><a href="{{ url_for('index', page=posts.next_num) }}">Next</a></li>
        {% else %}
            <li class="next disabled" style="display: none">Next</li>
        {% endif %}
    </ul>

{% endblock %}
