<table class="table table-hover">
    <tr>
        <td width="70px"><a href="{{ url_for('user', nickname=g.user.nickname) }}"><img src="{{ post.author.avatar(70) }}"></a></td>
        <td>
            <p><a href="{{ url_for('user', nickname=g.user.nickname) }}">{{ post.author.nickname }}</a> said on {{ momentjs(post.timestamp).fromNow() }}:</p>
            <p><strong>{{ post.body }}</strong></p>
        </td>
    </tr>
</table>